div#div01
  {
  table-layout:fixed;
  border-collapse:collapse;
  }

div#div02
  {
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
  width:650px;
  }

div#div02:hover
{
overflow:visible;
white-space:normal;
word-wrap:break-word
}